<link rel="stylesheet" href="">
<nav class="main_header__nav">
    <ul class="nav_list">

        <li class="nav_list__item">
            <a href="/admin/signup">Sign Up</a>
        </li>

        <li class="nav_list__item">
            <a href="/admin/login">Login</a>
        </li>

        <li class="nav_list__item">
            <a href="/admin/profile">Profile</a>
        </li>

    </ul>
</nav>